*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.112),rgba(0, 0, 0, 0.112)),url("../Assets/contact_us_bg.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: repeat;
}

.CategoriesHeading{
    text-align: center;
    margin: 50px auto 0px auto;
    font-weight: bolder;
}

.CategoryConatiner{
    width:80%;
    height:auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.CategoryConatiner div{
    width:400px;
    height: 250px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.66) 0px 5px 15px;
    cursor: pointer;
    background-color: yellow;
}

.CategoryConatiner div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.CategoryConatiner div:hover{
    box-shadow: rgba(0, 0, 0, 0.66) 0px 35px 45px;
}

@media only screen and (max-width: 930px){
    .CategoryConatiner{
        width: 100%;
    }
    .CategoryConatiner div{
        width:300px;
        height: 180px;
    }
}