.setImage{
    width:100%;
    height: 100%;
}
.footer{
    height: 500px;
    position: relative;
    margin-top: 80px;
}
.footer img{
    width: 100%;
    height: 100%;
}
.footerContent{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:60%
}
.footerContentWrapper{
    width: 80%;
    min-width: 740px;
    height: 100%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.LogoContact{
    width: 25%;
    height: auto;
}

.Divider{
    background-color: white;
    width: 1px;
    height:50%;
}
.NavigationFindUs{
    width:40%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.NavigationFindUs a{
    text-decoration: none;
    color: white;
    margin-top: 8px;
}

.NavigationFindUs h2{
    margin-bottom: 20px;
    color:#0c4d36;
}
.FooterLogo{
    width:150px;
    height: 120px;
    margin: auto;
}

.ContactIcons{
    max-width: 250px;
    width:80%;
    height:40px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.ContactIcons a{
    width:25px;
    height: 25px;
}

.navigation{
    width:40%;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    margin-right:20px;
    align-items: center;
}
.FindUs{
    width:40%;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 1000px){
    
    .footerContentWrapper{
        width: 100%;
        min-width: 640px;
    }
    .NavigationFindUs{
        max-width:400px;
        width:60%;
    }
}

@media only screen and (max-width: 650px){
    .FooterLogo{
        width:130px;
        height: 110px;
        margin: auto;
    }
    .footerContentWrapper{
        min-width: auto;
    }
    
    .NavigationFindUs h2{
        font-size: 20px;
    }
    .NavigationFindUs a{
        font-size: 15px;
    }
    .FindUs{
        min-width: 120px;
    }
    .navigation{
        width:40%;
        min-width: 180px;
        margin-right:5px;
    }

    .LogoContact{
        width: 25%;
        height: auto;
    }
}

@media only screen and (max-width: 550px){
    .FooterImage{
        display: none;
    }
    .footer{
        background: #1D976C;  /* fallback for old browsers */
        background: linear-gradient(to bottom, #57a875, #116044);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #57a875, #116044); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        height: 450px;
    }
    
    .footerContentWrapper{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        min-width: auto;
        padding-top: 20px;
        height: auto;
    }
    
    .LogoContact{
        min-width: 200px;
    }
    .Divider{
        width:90%;
        height: 2px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .NavigationFindUs{
        width:100%;
    }
}