*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.112),rgba(0, 0, 0, 0.112)),url("../Assets/home_bg.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: repeat;
}

.container{
    margin: auto;
    margin-top: 20px; 

}

.banner{
    background-image: url("../Assets/HomeBanner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 95%;
    height: 400px;
    margin-bottom: 250px;
}
.container img{
    width: 100%;
    height: 100%;
}

.BannerProfile{
    position: absolute;
    top: 150px;
    right:0;
    max-width: 300px;
    width: 40%;
    min-width: 200px;
    height:350px;
}

.BannerText{
    position: absolute;
    height:200px;
    width:60%;
    top:240px;    
    right: 32%;
}

.WhoWorkFor{
    margin-top: 200px;
    text-align: center;
    color: rgb(36, 81, 36);
    text-decoration: underline;
    text-decoration-color: green;
    text-decoration-thickness: 5px;
}

.WhoWorkItems{
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    height: auto;
    margin-bottom: 100px;
}
.WhoWorkItems div{
    height: 80px;
    width: 250px;
    margin: 20px;
}

.BannerContentWrapper{
    height: 100%;
    max-width:700px;
    width:80%;
    margin: auto;
    position: relative;
}

.WhoThisWorkForHeading{
    width:30%;
    height:50px;
    margin: auto;
    min-width: 450px;
}

.WhoThisWorkForHeading img{
    width:100%;
    height: 100%;
}

@media only screen and (max-width: 750px) {
    .banner{
        width: 100%;
        height: 18rem;
    }
    .BannerContentWrapper{
        width: 95%;
    }
    .BannerProfile{
        height:300px;
        top: 8rem;
    }
    .BannerText{
        height:180px;
        top: 10rem; 
    }
    .WhoWorkItems{
        width:100%;
    }
    .WhoThisWorkForHeading{
        height:40px;
        min-width: 350px;
    }
    .WhoWorkItems div{
        height: 70px;
        width: 230px;
        margin: 20px;
    }
}

@media only screen and (max-width: 550px){
    .banner{
        height: 15rem;
    }
    .BannerContentWrapper{
        width: 100%;
        max-width: 400px;
    }

    .BannerProfile{
        height:200px;
        top: 7rem;
        width: 45%;
        min-width: 180px;
    }
    .BannerText{
        height:120px;
        top: 10rem;
        left: 0;
    }

    .WhoThisWorkForHeading{
        height:40px; 
        min-width: auto;
        width: 80%;
    }
    .WhoWorkItems div{
        height: 70px;
        width: 160px;
        margin: 20px 5px;
    }
}