.navBar{
    width: 100%;
    margin-top: 20px;
}

.navIcon{
    margin: auto;
    width: 5rem;
    height: 5rem;
}

.navIcon img{
    width: 100%;
    height: 100%;
}

.navLinks{
    width: 75%;
    margin: 20px auto;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    font-size: 20px;
    
}
.navLinks a{
    text-decoration: none;
    color:rgb(36, 81, 36);
}

#active{
    color: rgb(18, 157, 18);
    font-weight: bold;
}

.navBar button{
    float: left;
    font-size: 20px;
    height: 50px;
    width: 50px;
    display: none;
}

@media only screen and (max-width: 1100px) {
    .navLinks{
        width: 98%;
    }
    
}

@media only screen and (max-width: 850px) {
    .navLinks{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .navLinks a{
        margin-top: 10px;
    }

    .show{
        display: flex;
    }

    .navBar button{
        display: block;
        margin-right: 20px;
        font-size: 30px;
        background-color: transparent;
        color: green;
        border: 2px solid green;
        color: rgba(0, 0, 0, 0.614);
        border: 2px solid rgba(0, 0, 0, 0.603);
        position: absolute;
        top: 10px;
        left: 10px;
    }
} 