<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="stylesheet" href="../Style/WeightLoss.css">
        <link rel="stylesheet" href="../Style/NavBar.css">
        <link rel="stylesheet" href="../Style/Footer.css">
        <title>Document</title>
    </head>
<body>
    <div class="navBar">
        <div class="navIcon">
            <img src="../Assets/logo.png" />
        </div>
        <button id="toggle"><i class="fa-solid fa-bars"></i></button>
        <div class="navLinks">
            <a href="../index.html">Home</a>
            <a href="#">About Us</a>
            <a href="#">Our Health Packages</a>
            <a href="./ClientReview.html">Client Review</a>
            <a href="#"  id="active">Contact Us</a>
        </div>
    </div>
    <div class="ContactUsContainer">
        <img src="../Assets/BUDY_BUILDING.png" class="imgAsCover"/>
    </div>
    <h1 class="contentHeading"> How it Works</h1>
    <div class="PageContent">
        <p>
            Have you been going to the gym for a while and tired of listening to different opinions everywhere you go? Looking to build muscle while losing fat at the same time? Or just wish to bulk up? Then this program is for you.
            <br/><br/>
            Building muscle without the intake of harmful steroids is not hard. All it requires is careful planning and aligning that to your goal. Together we define a goal that matches your expectations and our principles.
            <br/><br/>
            Gaining muscle requires a well balanced combination of protein, carbs and healthy fats. All of this is possible with the intake of food that we already have in our kitchens. We do not promote any brand or supplement, however we may prescribe you supplements when we feel need based on your goals.
        </p> 
    </div>

    <div class="footer">
        <img src="../Assets/footer.png" class="FooterImage" />
        <div class="footerContent">
            <div class="footerContentWrapper">
                <div class="LogoContact">
                    <div class="FooterLogo">
                        <img src="../Assets/footer_logo.png" />
                    </div>
                    <div class="ContactIcons">
                        <a href="#"><img class="setImage" src="../Assets/twtter_icon.png"/></a>
                        <a href="#"><img class="setImage" src="../Assets/fb_icon.png"/></a>
                        <a href="#"><img class="setImage" src="../Assets/insta_icon.png"/></a>
                    </div>
                </div>
                <div class="Divider"></div>
                <div class="NavigationFindUs">
                    <div class="navigation">
                        <h2>Navigation</h2>
                        <a href="#">Home</a>
                        <a href="#">About Us</a>
                        <a href="#">Our Health Packages</a>
                        <a href="#">Client Review</a>
                        <a href="#">Contact Us</a>
                    </div>
                    <div class="FindUs">
                        <h2>FindUs</h2>
                        <a href="#">Address</a>
                        <a href="#">Phone Number</a>
                        <a href="#">Website</a>
                        <a href="#">Social media</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../Script/index.js"></script>
</body>
</html>