<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="stylesheet" href="../Style/WeightLoss.css">
        <link rel="stylesheet" href="../Style/NavBar.css">
        <link rel="stylesheet" href="../Style/Footer.css">
        <title>Document</title>
    </head>
<body>
    <div class="navBar">
        <div class="navIcon">
            <img src="../Assets/logo.png" />
        </div>
        <button id="toggle"><i class="fa-solid fa-bars"></i></button>
        <div class="navLinks">
            <a href="../index.html">Home</a>
            <a href="#">About Us</a>
            <a href="#">Our Health Packages</a>
            <a href="./ClientReview.html">Client Review</a>
            <a href="#"  id="active">Contact Us</a>
        </div>
    </div>
    <div class="ContactUsContainer">
        <img src="../Assets/WEIGHT_LOSS.png" class="imgAsCover"/>
    </div>
    <h1 class="contentHeading"> How it Works</h1>
    <div class="PageContent">
        <p>
            This program is for you if you’re looking to lose weight and/or manage health conditions like Diabetes, Thyroid, PCOD/S or other health issues. Also ideal for post pregnancy weight loss.
            <br/><br/>
            Note that if you have such health concerns, medical issues or lifestyle disorders, we will focus on management of that particular issue. Weight loss will occur, as a by-product, once we have identified and controlled the root cause.
            <br/><br/>
            We work on the basis of balanced healthy food and nutrition, and believe in creating a healthy lifestyle rather than promoting quick weight loss diets, pills or use of supplements. So do not expect quick results or magic weight loss. We do not work on the numbers, but on your overall health.We DO NOT guarantee 5, 10 or 20 kilo weight loss programs. A body can safely lose a few kilos and inches in a month, however weight loss is multi-factorial and results vary from person to person. It depends on your diet, medical history, activity level, stress levels, water intake, sleep patterns, mental health, mindset, belief and the trust level, just to name a few.
            <br/><br/>
            The weight will not bounce back as long as you remain self-disciplined. The diet plans that we design are not short-term diets that you follow for temporary results.
        </p>
    </div>

    <div class="footer">
        <img src="../Assets/footer.png" class="FooterImage" />
        <div class="footerContent">
            <div class="footerContentWrapper">
                <div class="LogoContact">
                    <div class="FooterLogo">
                        <img src="../Assets/footer_logo.png" />
                    </div>
                    <div class="ContactIcons">
                        <a href="#"><img class="setImage" src="../Assets/twtter_icon.png"/></a>
                        <a href="#"><img class="setImage" src="../Assets/fb_icon.png"/></a>
                        <a href="#"><img class="setImage" src="../Assets/insta_icon.png"/></a>
                    </div>
                </div>
                <div class="Divider"></div>
                <div class="NavigationFindUs">
                    <div class="navigation">
                        <h2>Navigation</h2>
                        <a href="#">Home</a>
                        <a href="#">About Us</a>
                        <a href="#">Our Health Packages</a>
                        <a href="#">Client Review</a>
                        <a href="#">Contact Us</a>
                    </div>
                    <div class="FindUs">
                        <h2>FindUs</h2>
                        <a href="#">Address</a>
                        <a href="#">Phone Number</a>
                        <a href="#">Website</a>
                        <a href="#">Social media</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../Script/index.js"></script>
</body>
</html>