<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="stylesheet" href="../Style/WeightLoss.css">
        <link rel="stylesheet" href="../Style/NavBar.css">
        <link rel="stylesheet" href="../Style/Footer.css">
        <title>Weight Gain</title>
    </head>
<body>
    <div class="navBar">
        <div class="navIcon">
            <img src="../Assets/logo.png" />
        </div>
        <button id="toggle"><i class="fa-solid fa-bars"></i></button>
        <div class="navLinks">
            <a href="../index.html">Home</a>
            <a href="./AboutUs.html">About Us</a>
            <a href="./Categories.html" id="active">Categories</a>
            <a href="./HealthPackages.html">Our Health Packages</a>
            <a href="./ClientReview.html">Client Review</a>
            <a href="./ContactUs.html">Contact Us</a>
        </div>
    </div>
    <div class="ContactUsContainer">
        <img src="../Assets/WEIGHT_GAIN.png" class="imgAsCover"/>
    </div>
    <h1 class="contentHeading"> How it Works</h1>
    <div class="PageContent">
        <p>
            Do you roll your eyes at the never-ending tips and guides to lose weight every time you open the fitness section of any magazine?
            <br/><br/>
            Do you need to put on a few kilos to make a sports team, better your health, or simply to bulk up? Most people are out to lose weight, but you can reverse some basic dieting principles to gain some girth. However, many people do not realize how difficult is weight gain.
            <br/><br/>
            Luckily, weight gain is fairly intuitive and need not be strenuous or expensive; some basic calculations and lifestyle changes can garner impressive results. And YES! We help you achieve this with our special weight gain diet plan.
            <br/>
            A therapeutic diet is a meal plan that controls the intake of certain foods or nutrients. It is part of the treatment of a medical condition and are normally diagnosed by a physician and prescribed by us. A therapeutic diet is usually a modification of a regular diet. It is modified or tailored to fit the nutrition needs of a particular person.
            <br/><br/>
            Note: We aim at changing your lifestyle. It is a process which is going to take time and some effort from your side. Kindly do not expect some quick fix in treating Thyroid, PCOD/S or Diabetes, as it would be unrealistic. Lifestyle changes are about changing habits, hence do not expect miracles in a week's or a month's time. Diseases may or may not get fully cured but can absolutely be managed with diet & lifestyle modifications as we focus on root cause rather than symptoms.
        </p> 
    </div>

    <div class="footer">
        <img src="../Assets/footer.png" class="FooterImage" />
        <div class="footerContent">
            <div class="footerContentWrapper">
                <div class="LogoContact">
                    <div class="FooterLogo">
                        <img src="../Assets/footer_logo.png" />
                    </div>
                    <div class="ContactIcons">
                        <a href="#"><img class="setImage" src="../Assets/twtter_icon.png"/></a>
                        <a href="#"><img class="setImage" src="../Assets/fb_icon.png"/></a>
                        <a href="https://www.instagram.com/nutriblissbyishika/" target="_blank"><img class="setImage" src="../Assets/insta_icon.png"/></a>
                    </div>
                </div>
                <div class="Divider"></div>
                <div class="NavigationFindUs">
                    <div class="navigation">
                        <h2>Navigation</h2>
                        <a href="../index.html">Home</a>
                        <a href="./AboutUs.html">About Us</a>
                        <a href="./Categories.html">Categories</a>
                        <a href="./HealthPackages.html">Our Health Packages</a>
                        <a href="./ClientReview.html">Client Review</a>
                        <a href="./ContactUs.html">Contact Us</a>
                    </div>
                    <div class="FindUs">
                        <h2>FindUs</h2>
                        <a href="./ContactUs.html">Address</a>
                        <a href="./ContactUs.html">Phone Number</a>
                        <a href="./ContactUs.html">Website</a>
                        <a href="./ContactUs.html">Social media</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../Script/index.js"></script>
</body>
</html>